.display {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    text-align: center;
    gap: 5px;
    height: 670px;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "sidebar content"
        "footer footer"
    }

.head {
    background-color: rgb(211, 231, 243);
    height: 130px;
    width: 1000px;
    margin: auto;
    grid-area: header;
}


.name {
    margin-bottom: 15px;
    
}

.result {
    margin-top: 0px;
    margin-left: 160px;
    gap: 5px;
    background: rgb(245, 241, 241);
    width: 550px;
    margin-right: 5px;
    grid-area: sidebar content;
}

.detail {
    display: flex;
    background:lightyellow;
    margin-right: 1px;
    grid-area: footer;
    text-align: center;
    padding-left: 200px;

}

.history {
    width: 180px;
    margin-left: 10px;
    padding-right: 250px;
    grid-area: sidebar content;
} 


.bold {
    font-weight: bold;
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}